# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
*/.DS_Store
*/.env
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

electron/installers
electron/dist/
electron/logo/
electron/build/icon.iconset/**
electron/sound/
electron/bootstrap-3.3.7-dist/**
