body {
  padding: 0;
  background-color: orange;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 360px;
  min-height: 640px;
}
#link{
  padding:0;
}
#all {
  padding: 0;
  background-color: orange;
  height: 100vh;
}

  /*custumize scroll bar*/
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/*customize scroll bar*/

#pomodoro {
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  
}
#cent{
  height:85.5%;
  text-align: center;
}

#control {
  margin:auto;
}

#history {
  overflow-y: auto;
  height: 300px;
}

.table {
  overflow-y: auto;
  overflow-x: hidden;
}

/* input focus */

input:focus {
  outline-color : orange !important;
}

/* input focus */
/*
@media only screen and (max-width: px) {
  #nav {
    width: 100vw;
  }

  #control {
    height: 60%;
  }

}*/

@media only screen and (max-height:750px) {
  #all{
    overflow-x: hidden;
  }
  body{
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #cent {
    overflow-y: auto;
    height: 80%;
    min-height: 550px ;

    overflow-y: auto;
    padding: 0;
  }

  #pomodoro {
    overflow-y: auto;
    height: 100%;
  }

  #control {
    display: flex;
    align-items: center;
    height: 40%;
    margin-top: 10px;
  }

}