.mode-container{
    color:#343a40;
    border: 0px solid red;
}

.mode-container div.row{
    width: 100%;
    margin: auto;
}
.mode-length {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:  #343a40;
    border-radius: 15px;
    border:  #343a40;
    color:orange;
    font-size: 30px;
    font-weight: bold;
    padding:5px;
    text-align: center;
    width: 100%;
}

/*hide defauld increment bar */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
/*hide defauld increment bar */

.button-arrow{
    height: 100%;
    font-size: 29px;
    border-radius: 50%;
    padding: 5px 15px;
    color: orange;
}
.arrow:active{
    color: #343a4095;
    font-size: 52px;
}
@media only screen and (max-width: 769px) {
    .mode-container div{
        text-align: center !important;
    }
    .mode-length{
        margin: 10px auto;
    }
}