h2{
    text-align:center;
}
#centa{
    display: flex;
    align-items: center;
    border:1px solid none;
    height: 84%;
}

#register{
    margin: auto;
    background-color:rgba(206, 212, 218, 0.363);
    border-radius: 5px;
    padding:20px;
}