body {
  padding: 0;
  background-color: orange;
  overflow-y: hidden;
  width: 380px;
  height: 550px;
}
#link{
  padding:0;
}
#all {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  background-color: orange;
  height: 100vh;
}

  /*custumize scroll bar*/
::-webkit-scrollbar {
    width: 4px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/*customize scroll bar*/

#pomodoro {
  padding: 0;
  text-align: center;
  height: 89.5vh;
}

#cent {
  height: 70%;
}

#control {
  height: 25%;
}

.arrow:hover {
  font-size: 40px;
}

#history {
  overflow-y: auto;
  height: 300px;
}

.table {
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 575px) {
  #nav {
    height: 200px;
  }

  #control {
    margin-top: 10px;
    height: 25%;
  }

  #cent {
    height: 85vh;
  }
}

@media only screen and (max-height:700px) {
  
  #all {
    height: 100vh;
  }

  #pomodoro {
    height: 471px;
  }

  #cent {
    height: 470px;
  }
}