#break{
    color:#343a40;
}

#break-length {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:  #343a40;
    border-radius: 15px;
    color:orange;
    font-size: 30px;
    font-weight: bold;
    padding:5px;
    text-align: center;
}


.arrow{
    font-size: 50px;
}

@media only screen and (max-width: 575px) {
    #break{
        padding:0;
    }
    .marge{
        margin-top: 0px;
        margin-bottom: 2px;
    }

    .arrow{
        font-size: 50px;
    }
       
    #break-increment{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        margin-top: 12px;
        width:33.33%;
    }

    #break-decrement{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        margin-top: 12px;
        width:33.33%;
    }

    #break-length{
        margin-top: 12px;
        width:33.33%;
    }
}
