#break{
    color:#343a40;
}

#break-length {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:  #343a40;
    border-radius: 15px;
    color:orange;
    font-size: 30px;
    font-weight: bold;
    padding:5px;
    text-align: center;
}


.arrow{
    font-size: 50px;
}

@media only screen and (max-width: 769px) {
    #break{
        padding:0;
    }
    .marge{
        display: flex;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .arrow{
        font-size: 50px;
    }

    #break-decrement, #break-increment {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        width:33.33%;
    }

    #break-length{
        width:33.33%;
    }
}


@media only screen and (max-height:800px) {
    h2{
        margin-bottom: 0;
        font-size: 25px;
    }
    #break{
        height: 50%;
    }
    #break-length {
        margin-top: 0;
        height: 100%
    }
    #break-increment, #break-decrement{
        height: 100%;

    }
    .arrow{
        font-size: 45px;
    }
}
