#break{
    padding:10px;
    color:#343a40;
    width: 50%;
    height: 100px;
}

#break-length{
    font-size: 30px;
    font-weight: bold;
}

#break-length{
    pointer-events: none;
}

.arrow{
    font-size: 40px;
}

@media only screen and (max-width: 575px) {
    #break{
        padding:0;
    }
    .arrow{
        font-size: 35px;
    }
       
    #break-increment{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        margin-top: 5px;
        width:33.33%;
    }

    #break-decrement{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        margin-top: 5px;
        width:33.33%;
    }

    #break-length{
        margin-top: 12px;
        width:33.33%;
    }
}
