#counter{
    padding-top: 0%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color:#343a40; 
}
#label{
    pointer-events: none;
}
 .counter{
    margin-left: 12.5%;
    font-weight: bold;
    font-size: 30px;
    color:#343a40;
    
 }

 @media only screen and (max-width: 575px) {
    #counter{
        margin-top:10px;
        height: 20%;
        
        border:5px solid #343a40;
        border-radius: 10px;
        margin-left: 25%;
        width: 50%;
    }
    #label{
        font-size: 25px;
    }
    .counter{
        padding: 0;
        border: none;
    }
 }