#cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

strong {
    font-size: 30px;
}

.svg {
    height: 50%
}

#timer-label {
    font-weight: 900;
    font-size: 30px;
    color:  #343a40;
}

#contr {
    height: 20%;
}

.play {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.play:hover {
    font-size: 40px;
}

#start_stop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    color:  #343a40;
}

.redo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
}

.redo:hover {
    font-size: 38px;
}

#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    color:  #343a40;
}


@media only screen and (max-height: 800px) {
    #cont {
        margin-top: 0;
        border: 1px solid green;
    }
    .redo{
        font-size: 33px;
    }
    .play,
    strong,
    #timer-label {
        font-size: 35px;
    }
}
/*
@media only screen and (max-width: 768px) {
      .svg {
        height: 300px;
        border: 1px solid white;
        }
    #reset {
        border:1px solid red;
        width:40px;
    }

    #start_stop {
        width: 40px;
    }
}
*/