#cont{
    height: 50%;
}

#display {   
    border-radius: 10px;
    padding: 0px 20px 5px 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: #343a40;
    color: white;
}

#contr{
    height: 45px;
}

.play{
    color:orange;
    font-size: 35px;
}
.play:hover{
    font-size: 40px;
}
.redo{
    color:orange;
    font-size: 30px;
}

.redo:hover{
    font-size: 35px;
}

#reset {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start_stop {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#separate{
    margin-top: 5px;
    margin-bottom: 5px;
}


@media only screen and (max-height: 700px) {
    #cont{
    height: 28%;
    }
}
@media only screen and (max-width: 575px) {
    #cont{
    height: 23%;
    }
    #contr {
        display: flex;
        justify-content: center;
    }
    #reset {
        width: 15%;
    }
    #start_stop {
        width: 15%;
    }
}
