#cont {
    height: 50%;
}

#display {
    border-radius: 10px;
    padding: 0px 20px 5px 20px;
    font-size: 30px;
    font-weight: bold;
    background-color: #343a40;
    color: white;
    width: 80%;
}

#contr {
    height: 45px;
}

#timer-label {
    pointer-events: none;
}

.play {
    color: orange;
    font-size: 35px;
}

.play:hover {
    font-size: 40px;
}

.redo {
    color: orange;
    font-size: 30px;
}

.redo:hover {
    font-size: 35px;
}

#reset {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start_stop {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-height: 700px) {
    #cont {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 575px) {
    #cont {
        height: 36%;
    }

    #contr {
        display: flex;
        justify-content: center;
    }

    #reset {
        width: 15%;
    }

    #start_stop {
        width: 15%;
    }
}