#session {
    color: #343a40;
}
#session-length {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:  #343a40;
    border-radius: 15px;
    color:orange;
    font-size: 30px;
    font-weight: bold;
    padding:5px;
    text-align: center;
}

.arrow {
    font-size: 50px;
}


@media only screen and (max-width: 769px) {

    .arrow {
        font-size: 35px;
    }

    #session-decrement, #session-increment {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        width: 33.33%;
    }

    #session-length {
        width: 33.33%;
    }

}

@media only screen and (max-height:800px) {
    h2{
        margin-bottom: 0;
        font-size: 25px;
    }
    #session{
        height: 50%;
        width: 100%;
    }
    #session-length {
        margin-top: 0;
        height: 100%
    }
    #session-increment, #session-decrement{
        height: 100%;
    }
    .arrow{
        font-size: 45px;
    }
}
