#session {
    color: #343a40;
}

#session-length {
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
}

#session-length {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color:  #343a40;
    border-radius: 15px;
    color:orange;
    text-align: center;
}

.arrow {
    font-size: 50px;
}

@media only screen and (max-width: 575px) {
    .marge {
        margin-top: 0px;
    }

    .arrow {
        font-size: 35px;
    }

    #session-increment {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        margin-top: 12px;
        width: 33.33%;
    }

    #session-decrement {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        margin-top: 12px;
        width: 33.33%;
    }

    #session-length {
        margin-top: 12px;
        width: 33.33%;
    }


}