#session{
    color:#343a40;
    width:50%;
    height: 100px;
}

#session-length{
    font-size: 30px;
    font-weight: bold;
}
#session-length{
    pointer-events: none;
}

.arrow{
    font-size: 30px;
}

.marge{
    margin-top: 0.5vh;
}

@media only screen and (max-width: 575px) {

    .arrow{
        font-size: 40px;
    }

    #session-increment{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        margin-top: 5px;
        width:33.33%;
    }
    #session-decrement{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        margin-top: 5px;
        width:33.33%;
    }
    #session-length{
        margin-top: 12px;
        width:33.33%;
    }
    

}