body{
  padding:0;
  margin:0;
  background-color: orange;
}
.container {
  height:100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid red;
}
.wid{
  width: 100%;
}
.title {
  font-size: 35px;
  font-weight: 900;
  text-align:center;
  padding:10px;
  color: black;
}

#pomodoro{  
  padding: 5px;
}
#control{
  //border: 1px solid red;
  
  #break {
    text-align: center;
    font-family: sans-serif;
    //border: 1px solid green;
    #break-label{
      color: black;
      font-size: 25px;
      font-weight: 900;
    }
    #break-increment, #break-decrement{
      padding:10px 0 10px 0;
      border-radius: 10px;
      .fa{
        padding:10px;
        color: black;
        border-radius: 10px;
      }
    }
    #break-length {
      color: black;
      font-size: 30px;
      font-family:sans-serif;
    }   
  }
  
  #counter{
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    color: black;
  }
  .counter{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    padding: 5px;
  }
  
  #session {
    text-align: center;
    font-family: sans-serif;
    //border: 1px solid magenta;
    #session-label{
      font-size: 25px;
      font-weight: 900;
      color: black;
    }
    #session-increment, #session-decrement{
      padding:10px 0 10px 0;
      border-radius: 10px;
      .fa{
        padding:10px;
        color: black;
        border-radius: 10px;
      }
    }
    #session-length{
      color: black;
      font-size: 30px;
      font-family:sans-serif;
    }
  }
}
i {
  font-size: 30px;
  cursor: pointer;
}

#display {
  border-radius: 15px;
  border: 1px solid rebeccapurple;
  font-size: 30px;
  text-align: center;
  color: black;
  background-color: black;
  font-weight:900;
  #timer-label {
    color: white;
    padding: 10px;
    //background-color: navy;
    font-size: 30px;  
  }
  #time-left {
    padding: 10px 20px 10px 0px;
    //background-color: orange;
  }
  #start_stop, #reset {
    padding: 10px;
    text-align: center;
    //background-color: indigo;
    .fa{
      color: orange;
      padding:10px;
      border-radius: 10px;
    }
  }

}

@media only screen and (min-width:768px) {
  #break-label{
    padding-bottom: 20px;
  }
  #session-label{
    padding-bottom: 20px;
  }
  #control{
    margin-top: 50px;
  }
  #display{
    margin-top: 50px;
  }
}