

body {
  background-color:orange;
 
}
#pomodoro{
  height: 98vh;
  width: 100%;
}
#control {
  display: flex;
  justify-content: center;  
  align-items: center;
  
  #break {
    text-align:center;
    font-family: sans-serif;
    height: 50vh;
    width:400px;
  }
  
  #session {
    text-align: center;
    font-family: sans-serif;
    height: 50vh;
    width:400px;
   }
  
   #session-length, #break-length {
    font-size: 30px;
    font-family:sans-serif;
  }
}

i {
  font-size: 30px;
  cursor: pointer;
}

#session-label, #break-label{
  font-size: 40px;
  font-weight: 900;
  font-family: "Tangerine", serif;
}

#display {
  display: block;
  background-color: black;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  padding: 5px 0px 30px 0px;
  font-size: 25px;
  width: 450px;
  
  #start_stop, #reset {
    margin-top: 15px;
    color: orange;
    width:50px;
  }
  #timer-label {
    color: white;
  }
  #time-left {
    
    margin:0px 15px;
  }
  
}



@media only screen and (max-width:550px) {
  #pomodoro {
    padding-top: 30vw;
    margin-top: 0px;
    width: 100%;
    height: 99vh;
    
    #break {
      width:130px;
      height:5em;
      margin-top: 7.5vh;
      margin-right: 30px;
    }
    
    #session{ 
      width:130px;
      height:5em;
      margin-top: 7.5vh;
      margin-left: 30px
    }
    
    #display {
      display: block; 
      font-size:15px;
      padding-top:20px;
      width:300px;
   
      
      #start_stop, #reset {
        color: orange;
        margin-top:0px;
      }
    }
  }
  
}


.author, .title {
  font-family: "Tangerine", serif;
  font-size: 40px;
  font-weight: 900;
  margin: auto;
  text-align: center;
  width: 200px;
  display: block;
  margin-top: 15px;
  color: black;
}

@media only screen and (max-height:600px) {
  #pomodoro {
    margin-top: 0px;
    display: block;
    width: 100%;
    height: 99vh;
    
    #break { 
      display: block;
      width:19em;
      margin-top: 10px;
      height: 150px;
      
      #value {
        display: flex;
        justify-content: center;
        align-items: center;
   
        #break-length {
          margin:0px 8px;
          font-size:30px;
        }
      }
    }
    
    #session{ 
      display: block;
      width:20em;
      margin-top: 10px;
      height: 150px;
      
       #value {
        display: flex;
        justify-content: center;
        align-items: center;
  
        #session-length {
          margin:0px 8px;
          font-size:30px;
        }
      }
    }
    #display {
      height:80px;
      font-size: 14px;
      width: 400px;
      
      #time-left , #timer-label, #start_stop, #reset{
        margin-left: 20px;
        float: left;
      }
      #time-left {
        margin-top: 10px;
      }
      #start_stop{
        margin-left: -25px;
        margin-top: 20px;
      }
      #reset{
        margin-top: 20px;
        margin-left: -15px;
      }
    }
  }
  
}